@font-face {
	font-family: "GTAmerica";
	src: url("../fonts/GTAmerica-Regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/GTAmerica-Regular.woff2") format("woff2"), /* Super Modern Browsers */
		 url("../fonts/GTAmerica-Regular.woff") format("woff"); /* Pretty Modern Browsers */
}

@font-face {
    font-family: "GTAmerica";
    src: url("../fonts/GTAmerica-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/GTAmerica-Bold.woff2") format("woff2"), /* Super Modern Browsers */
		 url("../fonts/GTAmerica-Bold.woff") format("woff");/* Pretty Modern Browsers */
    font-weight: bold;
}

/* override sidebar color */
#sidebar {
	background-color: #E8E9E9;
}

#sidebar a {
	font-size: 16px !important;
	color: #404040 !important;
}

#sidebar a:hover {
	color: #000 !important;
}

#sidebar h3 {
	color: #000 !important;
}

/* Do not display side navigation */
#navigation {
	display: none;
}

#header-wrapper,
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
	background: #E8E9E9;;
}

#header-wrapper {
	border-bottom: 1px solid #E8E9E9;;
}

#header img {
	width: 200px;
}

.searchbox {
	border: 1px solid #f2f2f2;
	background: #fff;
	color: #404040;
}

.searchbox label {
	color: inherit;
}

.searchbox input {
	color: inherit;
}

.searchbox span {
	color: inherit;
}

.topics>.dd-item>a {
	padding: 8px 0px !important;
}

.topics>.active>a>span {
	margin-left:16px;
}

.read-icon {
	display: none !important;
}

/* make forward and back arrows slim */
.fa-chevron-right:before {
	content: "\f105";
}

.fa-chevron-left:before {
	content: "\f104"
}

/* override header font and color */
body {
	font-family: "GTAmerica", "Arial", sans-serif;
	letter-spacing: normal;
}

#body .padding {
	padding: 1rem 7rem;
}

@media only all and (max-width: 47.938em) {
	#body .padding {
		padding: 1rem;
	}
}

/* heading overrides */
h1,
h2,
h3,
h4,
h5 {
	font-family: "GTAmerica", "Arial", sans-serif;
	color: #000;
	font-weight: bold;
}

/* override text formatting */

p {
	line-height: 26px;
	margin-bottom: 2.5rem;
	font-size: 18px;
	color: #404040;
}

a {
	color: #1d9ad1;
}