
/* override sidebar color */
#sidebar {
	background-color: #7030f0;
}

#header-wrapper,
.searchbox,
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
	background: #7030f0;
}

/* make forward and back arrows slim */
.fa-chevron-right:before {
	content: "\f105";
}

.fa-chevron-left:before {
	content: "\f104"
}

/* override header font */
body,
h1,
h2 {
	font-family: "Helvetica Neue", "Tahoma", "Geneva", "Arial", sans-serif;
	letter-spacing: normal;
}

/* override text formatting */

p {
	line-height: 2;
}

.children-h2 p, 
.children-h3 p {
 	font-size: inherit;
 	margin-bottom: 30px;
 }